@use 'sass:list';

@mixin useMd($theme, $invert: false) {
  @if ($invert) {
    background: var(--md-sys-color-on-#{$theme});
    color: var(--md-sys-color-#{$theme});
  } @else {
    background: var(--md-sys-color-#{$theme});
    color: var(--md-sys-color-on-#{$theme});
  }
  border-color: var(--md-sys-color-outline);
}

@mixin useTransition($properties...) {
  transition-property: $properties;
  @apply duration-500 ease-out-expo;
}

.transparent {
  background: transparent !important;
}

.scale {
  font-size: 1.2vw !important;
}

* {
  flex-shrink: 0;
}

*[data-disabled='true'] {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

canvas {
  filter: blur(7rem);
  opacity: 0.5;
  z-index: -1;
  scale: 1.2;
}

:root {
  @include useMd(primary-container);
  @include useTransition(background-color);
}

.tips {
  @apply text-xs opacity-60 leading-none;
}

button {
  @apply outline-0 border-0;
}

.button,
.icon-button,
.switch,
.tab {
  @apply active:opacity-60;
}

.button {
  @include useMd(surface-variant);
  @apply rounded-md p-1 text-xl;
}

.icon-button {
  @include useMd(surface-variant);
  @include useTransition(padding);
  @apply rounded-full p-1 text-xl hover:px-2.5;
}

.switch {
  @include useMd(surface-variant);
  @apply py-0.5 px-2 text-xs;
  &[data-active='true']::before {
    content: '> ';
  }
}

.switches {
  @apply flex flex-nowrap overflow-hidden rounded-md;
  & > * + * {
    @apply border-l;
  }
}

.drawer {
  @include useMd(surface);
  @include useTransition(transform, opacity);
  @apply w-72 overflow-auto z-40 tracking-tight py-3 flex flex-col items-start rounded-lg;
  & > * {
    @apply mx-3;
  }
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-base;
  }
  h2,
  .tips {
    @apply mb-1 leading-none;
  }
  & > * + *:not(.tips):not(.switches):not(.flex-grow) {
    @apply mt-3.5;
  }
  & > div:not(.switches) {
    @apply gap-3;
  }
}

.drawer-open {
  @include useMd(secondary-container, true);
}

.drawer,
.drawer-open {
  @apply left-3 bottom-3 absolute z-50;
}

.main-wrapper {
  @include useTransition(transform, opacity);
}

.tabs {
  @apply grid grid-flow-col gap-3;
}

.tab {
  @apply relative flex items-center leading-none text-xs p-2 cursor-pointer;
  &::before {
    z-index: -1;
    content: '';
    scale: 0.9;
    opacity: 0;
    @apply absolute left-0 right-0 top-0 bottom-0 rounded-md;
    @include useMd(primary);
    @include useTransition(scale, opacity);
  }
  &:hover,
  &[data-active='true'] {
    color: var(--md-sys-color-on-primary);
    &::before {
      scale: 1;
      opacity: 1;
    }
  }
}

.input {
  @include useMd(surface-variant);
  @apply px-2 py-1.5 text-xs outline-none border border-transparent focus:border-current rounded-md;
}
